.loading {
    @keyframes spin {
        to { transform: rotate(360deg); }
      }
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-color: #fff,
    }
    &__spinner {
        width: 40px;
        height: 40px;
        border: 4px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        border-top-color: #007BFF;
        animation: spin 0.5s ease-in-out infinite;
    }
    &__message {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
   
}