@mixin displayCenter(){
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin alignItemsCenter(){
    display: flex;
    align-items: center;
}

@mixin alignItemsCenterSB(){
    display: flex;
    align-items: center;
    justify-content: space-between;
}