@import "../../../styles/center.scss";

.Header {
    &__container {
        @include alignItemsCenterSB();
        padding: 0 20px;
        background-color: #fff;
    }
    &__searchbox {
        width: 30%;
    }
    &__indicator {
        height: 1px;
        width: 100%;
        background-color: #eee;
    }
}