@import '../../../styles/center.scss';

.Footer {
    align-items: center;
    margin-bottom: 0;
    width: 100%;
    background-color: #fff;
    &__top {
        display: flex;
    }
    &__bottom {
        @include alignItemsCenterSB();
    }
}