@import '../../../styles/center.scss';

.Footer {
    align-items: center;
    margin-bottom: 0;
    width: 100%;
    position: absolute;
    background-color: #fff;
    bottom: 0;
    left: 0;
    z-index: 100;
    &__top {
        display: flex;
    }
    &__bottom {
        @include alignItemsCenterSB();
    }
}