.ShowCarsCardText {
   &.title {
    font-size: 2rem;
    font-weight: 500 ;
    margin-bottom: 1rem;
    white-space: pre-line;
   }
    &.description {
     font-size: 1rem;
     font-weight: 400;
     white-space: pre-line;
    }
}